@import './reset.css';
@import './colors.css';

:root {
    --sl-font-sans: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --sl-font-serif: 'Domine', Georgia, 'Times New Roman', serif;
}

:root:not(.sl-theme-dark) .only-dark {
    display: none;
}

:root.sl-theme-dark .only-light {
    display: none;
}

* {
    box-sizing: border-box;
}

html.reduce-fouce {
    opacity: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
}


header {
    background-color: var(--sl-color-primary-100);
    height: 6rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.theme-action {
    color: var(--sl-color-primary-950);
    background-color: var(--sl-color-primary-400);
    border-radius: 10px;
}

.theme-action:hover {
    color: var(--sl-color-primary-800);
}

.header-title {
    font-size: 1.2rem;
    font-family: var(--sl-font-sans);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1px;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--sl-color-primary-950);
}

#body-content {
    margin: 2rem 10rem;
}

.body-title {
    font-size: 1.6rem;
    font-family: var(--sl-font-sans);
    font-weight: 600;
    margin-bottom: .8rem;
}

sl-tab::part(base) {
    gap: 0.8rem;
}

.datalist_container {
    padding-top: 2rem;
}